



body
{
     background-image:url(../images/stipe\ png.png) ;
}
.about__achievements
{
    margin-top: 3rem;
}

.achievement__container
{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
    align-items: center;
}
.achievement__cards
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
    /* align-items: center;
    text-align: center; */
}

.achievements__card
{
    background: var(--color-bg1);
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
    transition: var(--transition);
}

.achievements__card:hover
{
    background: var(--color-bg2);
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}

.achievement__icon
{
    background: var(--color-danger);
    padding:0.6rem 1.6rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    display: inline-block;
}

.achievements__card:nth-child(2) .achievement__icon
{
    background: var(--color-success);
}
.achievements__card:nth-child(3) .achievement__icon
{
    background: var(--color-primary);
}

.achievements__card p
{
    margin-top: 1rem;
}


/* ############################ Team CSS 
############################# */

.team
{
    background: var(--color-bg2);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0,0.5);
}

.team__container
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}

.team__member
{
    background: var(--color-bg1);
    padding: 2rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
 
}
.team__member:hover
{
 background: transparent;  
 border: 1px solid var(--color-primary);
 

}


.team__img img 
{
    filter:saturate(0);
}
.team__img img:hover 
{
    filter:saturate(1);
}

.team__info *
{
      text-align: center;
      margin-top: 1.4rem;
}
.team__info p 
{
    opacity: 0.6;
}

.team__social
{
    position: absolute;
    top: 50%;
    right:-580%;
    transform: translateY(-50%);
    border-radius: 1rem 0 0 1rem;
    box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
    background: var(--color-primary);
    display: flex;
    flex-direction: column;
    transition: var(--transition);
    
}
.team__social  a 
{
    padding: 1rem;
}

.team__member:hover .team__social 
{
 right: 0;


}
